article {
  display: grid;
  grid-template-columns: auto auto auto;
}

article div {
  background-color: #ff0000;
  margin: 50px;
  text-align: center;
  vertical-align: middle;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
